$primary-color: lightblue;
$secondary-color: lightblue;
$accent1-color: lightblue;
$accent2-color: lightblue;
$disabled-color: lightblue;
$warning-color: lightblue;
$error-color: lightblue;
$success-color: lightblue;


:host {
  display: block;
  // background-color: $primary-color;
}
